body {
  background: rgb(0, 0, 0);
  color: white;
  font-family: Bebas;
}
.text {
  margin-left: 150px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1000px;
}
.canvas {
  cursor: pointer;
  background-color: white;
}

.guide {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.guide div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
